
.banner {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.honda {
    width: 550px;
}

.bg-black {
    background-color: black;
    color: white;
}


.bg-white {
    background-color:white;
    color: black;
}

.btn-black {
    background: black;
    color: white;
}

.navbar-brand{
    font-size: 30px;
    color: darkgoldenrod;
}


.nav-link{
    font-size: 30px;
}

.dropdown-item{
    font-size: 30px;
}

.banner-text {
    color: white;
}

.logos{
    margin-bottom: 30px;
    color: white;   
  }

 /* .line{
    border-bottom: 10px solid darkgoldenrod;;    
  }*/

  .borde{      
    border-top-left-radius: 100px;
   border-bottom-right-radius: 100px;
   }

  .banner button{
      width: 300px;
      border-radius: 5px;
      font-size: 25px;
  }

.btn{
    width:350px ;
    font-size: 20px;
    padding: 15px;
}

.hc{
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 65px;
}

.card-houder {
   border-top-left-radius: 250px; 
}

.foot{
    padding: 50px;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}