body{
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}
.banner {
    position: absolute;
    background-image: url("img/Honda_Camino.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 80vh;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}


.bg-black {
    background-color: black;
    color: white;
}


.bg-white {
    background-color:white;
    color: black;
}

.bg-gold {
    background-color: rgba(184, 135, 11, 0.911);
   
}

.btn-black {
    background: black;
    color: white;
    width:350px ;
    font-size: 20px;
    padding: 15px;
}

.navbar-brand{
    font-size: 30px;
    color: darkgoldenrod;
}


.nav-link{
    font-size: 30px;
}

.dropdown-item{
    font-size: 30px;
}

.banner-text {
    color: white;
}

.logos{
    position: relative;
    margin-top: 595px;    
  }

.logos-1 > p {
    font-size: 30px;
}

.logos-2 {
   
    padding: 50px;
    border-top-left-radius: 250px; 
}

 /* .line{
    border-bottom: 10px solid darkgoldenrod;;    
  }*/

  .borde{    
      background-color: rgba(0, 0, 0, 0.664);
    }

  .banner button{
      width: 300px;
      border-radius: 5px;
      font-size: 25px;
  }

.btn{
    width:250px ;
    font-size: 20px;
    padding: 15px;
}

.btn-orange {
    background-color:darkgoldenrod;
    color: white;
}

.hc{
    color: white;
    font-size: 75px;
}

.hc-1{
    color:rgb(255, 166, 0);
    font-size: 45px;
}

.card-houder {
   border-top-left-radius: 250px; 
}

.card > img{
    width: 100%;
}

.img-fluid {
    width: 80%;
}

.transp-card {
    position: relative;
    width: 50%;
    color: black;
    padding: 30px;
    margin-top: 400px;
}
.foot-nav > p, a{
    color: white;
    cursor: pointer;
}

.foot{
    padding: 50px;
    font-size: 25px;
    text-align: center;
    border-bottom-right-radius: 250px; 
}

/* Media query */
@media screen and (max-width:745px) {
    .banner {
        height: 50%;
    }
    
    .btn {
        width: fit-content;
    }

    .borde > button {
        width: 100%;
        font-size: 100%;
    }

    .hc {
        font-size: 150%;
    }

    .hc-1{
        font-size: 150%;
    }

    .transp-card {
        visibility: hidden;        
    }

    .logos-2 {
        margin-bottom: 300px;
    }

    
}

@media screen and (min-width:747px) and (max-width:1025px) {
    .banner {
        height: 50%;
    }

    .btn {
        width: fit-content;
        font-size: 90%;
    }

    .hc {
        font-size: 180%;
    }

    .hc-1{
        font-size: 180%;
    }

    .borde > button {
        width: 80%;
        font-size: 180%;
    }
    
    
}