body{
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}

/* Banner */
.banner {
    position: absolute;
    background-image: url("img/Honda_Camino.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 80vh;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.banner-text {
    color: white;
}

.borde{    
    background-color: rgba(0, 0, 0, 0.664);
  }

  .borde1{    
    background-color: rgba(0, 0, 0, 0.89);
  }

.banner button{
    width: 300px;
    border-radius: 5px;
    font-size: 25px;
}

/* Backgrounds */

.bg-black {
    background-color: black;
    color: white;
}

.bg-white {
    background-color:white;
    color: black;
}

.bg-gold {
    background-color: rgba(184, 135, 11, 0.911);
   
}

/* Buttons */
.btn-black {
    background: black;
    color: white;
    width:350px ;
    font-size: 20px;
    padding: 15px;
}

.btn{
    width:250px ;
    font-size: 20px;
    padding: 15px;
}

.btn-orange {
    background-color:darkgoldenrod;
    color: white;
}

/* Navbar style */
.navbar-brand{
    font-size: 30px;
    color: darkgoldenrod;
}

.nav-link{
    font-size: 30px;
}

.dropdown-item{
    font-size: 30px;
}

/* fontawensome */
.nav-icon > i {
    cursor: pointer;
}

.logos{
    position: relative;
    margin-top: 595px;    
  }

.logos-1 > p {
    font-size: 30px;
}

.logos-2 {
   
    padding: 50px;
    border-top-left-radius: 250px; 
}

/* Tipographie */
.hc{
    color: white;
    font-size: 75px;
}

.hc-1{
    color:rgb(255, 166, 0);
    font-size: 45px;
}

/* Cards */
.card-houder {
   border-top-left-radius: 250px; 
}

.card > img{
    width: 100%;
}

.card-title {
    font-weight: 600;
    font-size: 25px;
}

.img-fluid {
    width: 80%;
}

.transp-card {
    position: relative;
    width: 50%;
    color: black;
    padding: 30px;
    margin-top: 400px;
}

/* Footer */
.foot-nav > p, a{
    color: white;
    cursor: pointer;
    font-size: 35px;
}

.foot{
    padding: 50px;
    font-size: 30px;
    text-align: center;
    border-bottom-right-radius: 250px; 
}

/* gallery */
.img-container > img {
    width: 70%;
    margin-top: 15px;
}

/* Media query */
@media screen and (max-width:745px) {
    .banner {
        height: 60%;        
    }

    .fa-2x {
        font-size: 30px;
    }

    .btn {
        width: fit-content;
    }

    .borde > button {
        width: 80%;
        font-size: 80%;
    }

    .hc {
        font-size: 150%;
    }

    .hc-1{
        font-size: 130%;
    }

    .transp-card {
        visibility: hidden;        
    }

    .logos-2 {
        margin-bottom: 300px;
    }
    
    .email > p {
        font-size: 80%;
    }
    
}

@media screen and (min-width:747px) and (max-width:1025px) {
    .banner {
        height: 50%;
    }

   .card-body > a {
    width: fit-content;
   }  

    .btn {
        width: fit-content;
    }

    .btn-b > button {
        width: 70%;
        padding: 5px;
    }


    .hc {
        font-size: 180%;
    }

    .hc-1{
        font-size: 180%;
    }

    .borde > button {
        width: 80%;
        font-size: 180%;
    }
    
    .card-title > p {
        font-size: 70%;
    }

    .card-text  {
        font-size: 30px;
    }

    .card > p, h1 {
        font-size: 30px;
    }

   
}